.schoolInfo h1{
    font-family: 'Roboto';
    font-size: 21px;
    color: rgb(19, 19, 19);
    text-align: center;
    font-weight: 400;
    padding:  5% 0;
   
}
.infoText h2{
    color: rgb(0, 0, 0);
}
.schoolInfo h2:nth-child(2n){
    color: white;
}
.schoolRow{
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
}
.schoolRow .infoCol{
    flex: 25%;
    background-color: rgba(227, 179, 46, 0.716);
    height: 250px;
    text-align: center;
    padding-top: 10rem;
}
.infoCol:nth-child(2n){
    background-color: rgba(98, 36, 156, 0.829);
   
}
.infoText h2{
   font-family: 'Roboto';
   font-size: 28px;
   font-weight: 400;
}
.infoLink {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
/* .infoLink:nth-child(2n){
    color: rgb(255, 255, 255) important!;
} */

