.earlyContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: auto;
  padding: 6% 3%;
  font-family: "Roboto", serif;
  gap: 1rem;
}
.early1{
  flex: 30%;
}

.early1 h1 {
  font-size: 2rem;
  font-family: var(--title-font);
  color: var(--blue);
}
.early1 p {
  font-size: 1rem;
  font-family: "Roboto", serif;
  line-height: 2;
}
.early2{
  flex: 30%;
}
.early2 img {
  width: 80%;
  height: 40rem;
  object-fit: cover;
  margin-left: 15%;
}
.early3{
  flex: 40%;
}
.early3 p {
  font-size: 1rem;
  font-family: "Roboto", serif;
  line-height: 2;
}

@media only screen and (max-width: 1024px){
  .earlyContainer {
    display: block;
  }
  .early2 img {
    width: 100%;
    margin-left: 0;
  }
}
@media only screen and (max-width: 500px){
  .early1 h1 {
    font-size: 1.5rem;
  }
  .early3 p, .early1 p {
    font-size: .7rem;
  }
}