@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300;1,400&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;1,300;1,400&family=Oswald:wght@200;300;400&family=Poppins:ital,wght@0,200;0,300;1,400;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,300;16..144,400;16..144,600;16..144,700&display=swap");

.navbar2 {
  background-color: var(--blue);
  transition: background-color 0.5s ease-in-out;
  z-index: 3;
}
.navbarScrolled1 {
  background-color: rgb(255, 255, 255);
}
.aboutNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 4rem;
  margin: 0 auto;
  height: 100%;
}
.menu-icon1 {
  display: none;
}
.menu-icon2 {
  display: none;
}

.leftNav img {
  width: 100%;
}

.nav-elements ul {
  /* flex: 50%; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.nav-elements a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  letter-spacing: 3px;
}

.aboutLine {
  display: none;
}
@media (max-width: 1440px) {
  .menu-icon1 {
    display: block;
    cursor: pointer;
  }
  .menu-icon2 {
    display: block;
    cursor: pointer;
    font-size: 2rem;
    background: none;
    position: absolute;
    top: 4%;
    right: 8%;
  }
  .nav-elements {
    background-color: var(--blue);
    /* background-image: url("/src/assets/Banner.jpg"); */
    width: 40%;
    height: 100vh;
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    transition: 0.5s;
    text-align: center;
    list-style: none;
    text-align: center;
    z-index: 2;
  }

  .nav-elements.active {
    right: 0;
    transition: 0.5s;
    overflow: hidden;
  }
  .nav-elements ul {
    margin-top: 7rem;
    display: block;
  }
  .nav-elements li a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    transition: 0.5s;
    line-height: 5;
    letter-spacing: 5px;
  }
  .nav-elements li a:hover {
    color: var(--yellow);
  }
  .aboutLine {
    display: block;
    width: 100%;
    height: 2px;
    border-width: 0;
    color: rgb(77, 74, 74);
    background-color: var(--yellow);
  }

}

@media only screen and (max-width: 768px) {
  .nav-elements {
    width: 100%;
  }
  .nav-elements li a {
    font-size: 1rem;
  }
  .leftNav {
    width: 60%;
  }
  .leftNav img {
    width: 50%;
  }
  .aboutNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    margin: 0 auto;
    height: 100%;
  }
  .icon1 {
    font-size: 1.5rem;
  }
}
