@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300;1,400&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;1,300;1,400&family=Oswald:wght@200;300;400&family=Poppins:ital,wght@0,200;0,300;1,400;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,300;16..144,400;16..144,600;16..144,700&display=swap");
nav{
  height: 150px;
  position: sticky;
  top: 0;
  z-index: 1;
}
 .navBar {
  background-color: #191860;
  transition: all 1s ease;
}
.navChange {
  background-color: rgb(255, 255, 255);
  color: #e3d53e;
  border-bottom: 1px solid rgba(137, 135, 135, 0.652) ;
  }
  .navChange h5{
    color: #252377;
  }

.rightNav{
  display: flex;
}
.rightNav h5 {
  list-style: none;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  float: right;
  margin: 5px 2rem;
  padding: 5px 0;
  font-family: "Montagu Slab", serif;
}
.divineLogo img{
    width: 100px;
    height: 100px;
 
}

.rightNav h5::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: #a1982d;
  bottom:0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}
.rightNav  h5:hover::before{
  transform-origin: left;
  transform: scaleX(1);
  
}
.rightNav h5:hover{
  color: #e3d53e;
} 

