
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300;1,400&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;1,300;1,400&family=Oswald:wght@200;300;400&family=Poppins:ital,wght@0,200;0,300;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,300;16..144,400;16..144,600;16..144,700&display=swap');

.banner-img img{
    width: 1920px;
    height: 800px;
    object-fit: fill;
}


  .about-nav {
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    list-style: none;
    height: 300px;
    position: relative;
    top: -10px;
  }
  .about-nav li{
    color: #8e8e8e;
    font-size: 16px;
    text-transform: uppercase;
    position: relative;
    top: -20%;
    font-family: 'Montagu Slab', serif;
  
  } 
  .banner-nav span{
    border-bottom: 5px solid #FFCB42;
    width: 300px;
    margin: 0 50%;
  }