@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300;1,400&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;1,300;1,400&family=Oswald:wght@200;300;400&family=Poppins:ital,wght@0,200;0,300;1,400;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,300;16..144,400;16..144,600;16..144,700&display=swap");

.faculty {
  height: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "Montagu Slab", serif;
  background-image: url("https://images.unsplash.com/photo-1494949649109-ecfc3b8c35df?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  padding: 10% 0;
}

.faculty .teacher-text {
  background-color: #ffcb42;
  width: 350px;
  height: 200px;
  text-align: center;
  position: relative;
  z-index: 1;
  left: 6rem;
  font-size: 20px;
  font-weight: 400;
  padding: 5% 5% 1% 5%;
  box-shadow: 8px 8px 13px -8px rgba(0, 0, 0, 0.3),
    0px 15px 12px 0px rgba(0, 0, 0, 0.22);
}
.teacher-text .know-more {
  /* margin-top: 5rem; */
  padding: 10px;
  border: none;
  background-color: #000000;

  box-shadow: 8px 8px 13px -8px rgba(0, 0, 0, 0.3),
    0px 15px 12px 0px rgba(0, 0, 0, 0.22);
}
.faculty .teacher-img img {
  width: 754px;
  height: 585px;
  border: 10px solid #00000096;
  position: relative;
  padding: 2rem;
  /* z-index: 0; */
}
.know-more span {
  color: rgb(255, 255, 255);
}
