@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300;1,400&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;1,300;1,400&family=Oswald:wght@200;300;400&family=Poppins:ital,wght@0,200;0,300;1,400;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,300;16..144,400;16..144,600;16..144,700&display=swap");

.faculty {
  height: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "Montagu Slab", serif;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/divine-public-school-e196f.appspot.com/o/websiteImages%2Fabout%2Fvisit3.avif?alt=media&token=71ca68e7-6781-4466-99fc-65408882aa6d");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  padding: 10% 0;
}

.faculty .teacher-text {
  background-color: #ffcb42;
  border-radius: 5px;
  width: 20%;
  text-align: center;
  position: relative;
  z-index: 1;
padding: 2rem;
  box-shadow: 8px 8px 13px -8px rgba(0, 0, 0, 0.3),
    0px 15px 12px 0px rgba(0, 0, 0, 0.22);
}
.faculty .teacher-text p{
  font-size: 1rem;
}
.teacher-text .know-more {
font-size: .8rem;
  /* margin-top: 5rem; */
  padding: 1rem;
  border: none;
  background-color: #000000;
  box-shadow: 8px 8px 13px -8px rgba(0, 0, 0, 0.3),
    0px 15px 12px 0px rgba(0, 0, 0, 0.22);
}
.faculty .teacher-img img {
  width: 80%;
  height: 50%;
  border: 10px solid #00000096;
  position: relative;
  padding: 2rem;
  z-index: 0;
}
.know-more span {
  color: rgb(255, 255, 255);
}
@media only screen and (max-width:768px){
  
.faculty .teacher-text {
  width: 60%;
  margin-bottom: 2rem;
}
.faculty .teacher-img img {
 border: none;
}}