.messageContainer {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  max-height: 100%;
  gap: 10rem;
  width: 80%;
  padding: 5rem 1.5rem 0;
}
.aboutBanner {
  width: 100%;
  height: 700px;
}
.aboutBanner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.headName {
  flex: 20%;
}
.message {
  flex: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 5rem;
}

.headName h1 {
  font-size: 3rem;
  font-family: "Cinzel", serif;
  color: var(--blue);
  font-weight: bold;
  padding-right: 2rem;
}
.headName p {
  font-size: 1.5rem;
  font-family: "Kalam", cursive;
  color: rgb(164, 61, 61);
  text-align: left;
}
.principaHeading {
  font-size: 1.5rem;
  font-family: "Cinzel", serif;
  color: var(--blue);
  text-align: left;
}

.messageParah {
  width: 60%;
  height: 100%;
}
.messageParah p {
  font-size: 1rem;
  text-align: left;
  line-height: 2;
  font-weight: 500;
}
.principalImage img {
  width: 500px;
  max-width: 100%;
  height: 500px;
  max-height: 100%;
  object-fit: cover;
}
.messageParah a {
  text-decoration: none;
  color: #ffcb42;
  position: relative;
  font-size: 1rem;
}

.aboutSchool {
  width: 80%;
  margin: 10% auto;
  padding: 1rem 7rem 7rem ;
  background-color: var(--beige);
  position: relative;
}
.aboutSchool::before {
  content: "â›";
  font-weight: 400;
  color: #e10719;
  font-size: 6rem;
}

.aboutSchool > p {
  font-size: 1rem;
  line-height: 2;
  font-weight: 600;
  font-family: "Cinzel", serif;
  color: var(--blue);
}
.icon2 {
  font-size: 1.8rem;
  position: absolute;
  bottom: -5px;
}
@media only screen and (max-width: 1900px) {
  .messageContainer {
    display: block;
    flex: 100%;
    gap: 2rem;
    padding-top: 5rem;
  }
}
@media only screen and (max-width: 1200px) {
  .messageContainer {
    height: 1000px;
  }
  .message {
    display: block;
    width: 100%;
    margin: auto;
  }
  .messageParah {
    width: 100%;
  }
  .principalImage {
    width: 100%;
  }
  .headName h1 {
    font-size: 2.5rem;
  }
  .headName p {
    font-size: 1.5rem;
  }
  .principaHeading {
    font-size: 1.5rem;
  }
  .messageParah {
    text-align: center;
  }
  .messageParah p {
    font-size: 1rem;
    width: 100%;
  }
  .principalImage img {
    width: 50%;
    height: 50%;
  }
  .aboutSchool {
    width: 60%;
  }
}
@media only screen and (max-width: 800px) {
  .messageContainer {
    height: 900px;
  }
  .message {
    display: block;
    flex: 100%;
    gap: 2rem;
  }
  .principalImage img {
    width: 70%;
    height: 80%;
  }

  .icon2 {
    font-size: 1rem;
    position: absolute;
    bottom: -2px;
  }
  .aboutBanner {
    width: 100%;
    height: auto;
  }
  .headName h1 {
    font-size: 2rem;
  }
  .headName p {
    font-size: 1rem;
  }
  .principaHeading {
    font-size: 1rem;
  }
  .messageParah p {
    font-size: 0.7rem;
  }
  .messageParah a {
    font-size: 0.7rem;
  }
  .aboutSchool {
    width: 80%;
 padding: 0 1.5rem 2rem;
  }
  .aboutSchool p{
    font-size: .7rem;
 
  }
}
@media only screen and (max-width: 500px) {
  .messageContainer {
    height: 700px;
  }
}
