

@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,300;16..144,400;16..144,600;16..144,700&family=Open-Sans:wght@300&display=swap');
.message {
  background-color: #112e6d;
  height: 100%;
  margin: auto;
  width: 80%;
  display: flex;
  align-items: center;
  justify-items: center;
}

.heading {    
  font-size: 48px;
  font-family: 'Montagu Slab';
  text-orientation: upright;
  writing-mode:vertical-lr;
  font-weight: bold; 
  color: #FFCB42;

}
.messageContainer{
  display: flex;
  align-items: center;
  justify-items: center;
}
/* .parah {
 
  text-align: center;
  padding: 3rem 3rem   ;

  width: 15%;
  height: 50%;
  font-family: 'Montagu Slab';
  font-size: 16px;
  line-height: 2;
  font-weight: 500;
  background-color: #FFCB42;
}
.principal-image {
  margin-left: 10rem;

  width: 500px;
  height: 600px;

  
} */
