

@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,300;16..144,400;16..144,600;16..144,700&family=Open-Sans:wght@300&display=swap');
.message {
  background-color: #083aa9;
  position: relative;
  padding: 2rem 0;
  height: 1000px;
  display: flex;
}

.heading {    
  font-size: 48px;
  font-family: 'Montagu Slab';
  text-orientation: upright;
  writing-mode:vertical-lr;
  font-weight: 500; 
  color: #FFCB42;

}
.parah {
  position: absolute;
  text-align: center;
  padding: 5rem 2rem 40px 10rem ;
  top: 10rem;
  right: 10rem;
  width: 500px;
  height: 550px;
  font-family: 'Montagu Slab';
  font-size: 20px;
  line-height: 2;
  font-weight: 500;
  background-color: #FFCB42;
}
.principal-image {
  margin-left: 10rem;
  position: relative;
  right:  8rem;
  top: 12rem;
  width: 500px;
  height: 600px;

  
}
