/* @import url("https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,300;16..144,400;16..144,600;16..144,700&family=Open-Sans:wght@300&display=swap"); */
.messageContainer {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1000px;
  max-height: 100%;
  gap: 10rem;
  width: 80%;
}
.aboutBanner{
  width: 100%;
  height: 700px;

}
.aboutBanner img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.headName {
  flex: 20%;
}
.message {
  flex: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 5rem;
}

.headName h1 {
  font-size: 3rem;
  font-family: "Cinzel", serif;
  color: var(--blue);
  font-weight: bold;
  padding-right: 2rem;
}
.headName p {
  font-size: 1.5rem;
  font-family: "Montagu Slab";
  color:  rgb(164, 61, 61);
}
.principaHeading {
  font-size: 1.5rem;
  font-family: "Cinzel", serif;
  color: var(--blue);
}

.parah {
  text-align: left;
  width: 60%;
  height: 100%;
  font-family: "Montagu Slab";
  font-size: 1rem;
  line-height: 2;
  font-weight: 500;
}
.parah p{
  font-size: 1rem;
}
.principalImage img {
  width: 500px;
  max-width: 100%;
  height: 500px;
  max-height: 100%;
  object-fit: cover;
}
.parah a {
  text-decoration: none;
  color: #ffcb42;
  position: relative;
  font-size: 1rem;
}
.icon2 {
  font-size: 1.8rem;
  position: absolute;
  bottom: -5px;
}
@media only screen and (max-width: 1900px) {
  .messageContainer {
    display: block;
    flex: 100%;
    gap: 2rem;
    padding-top: 5rem;
  }
}
@media only screen and (max-width: 1200px) {
  .message{
    display: block;
    width: 100%;
    margin: auto;
  }
  .parah{
    width: 100%;
  }
  .principalImage{
    width: 100%;
  }
  .headName h1 {
    font-size: 2.5rem;
  }
  .headName p {
    font-size: 1.5rem;
  }
  .principaHeading {
    font-size: 1.5rem;
  }
  .parah{
    text-align: center;
  }
  .parah p{
    font-size: 1rem;
    width: 100%;
   
  }
  .principalImage img {
    width: 50%;
    height: 50%;
  }
}
@media only screen and (max-width: 800px) {
  .messageContainer{
    height: 900px;
   
  }
  .message {
    display: block;
    flex: 100%;
    gap: 2rem;
  }
  .principalImage img {
    width: 70%;
    height: 80%;
  }

  .icon2 {
    font-size: 1rem;
    position: absolute;
    bottom: -2px;
  }
  .aboutBanner{
    width: 100%;
    height: auto;
  
  }
  .headName h1 {
    font-size: 2rem;
  }
  .headName p {
    font-size: 1rem;
  }
  .principaHeading {
    font-size: 1rem;
  }
  .parah p{
    font-size: .7rem;
    
  }
  .parah a{
    font-size: .7rem;
  }
}
@media only screen and (max-width: 500px){
  .messageContainer{
    height: 700px;
   
  }
}