.provideContainer {
  width: 100%;
  height: 100%;
  background-color: rgb(241, 240, 240);
  padding: 6rem 0;
}
.provide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin: auto;
}

.provide .im {
  flex: 40%;
}

.provide .im img {
  width: 70%;
  height: 60%;
}
.provide .provideContent {
  flex: 60%;
}

.provideContent h1 {
  font-family: "Cinzel", serif;
  font-size: 2rem;
  letter-spacing: 5px;
  font-weight: bolder;
  
}
.provideContent p {
  font-size: 1rem;
  width: 80%;
  line-height: 2;
  text-align:left;
  letter-spacing: 1px;
}
@media only screen and (max-width: 1000px) {
  .provide .provideContent {
    text-align: center;
    padding: 2rem 0;
  }
  .provideContent p {
    text-align: center;
    font-size: 1rem;
  }
  .provideContent h1 {
    font-size: 1.5rem;
    letter-spacing: 3px;
  }
  .provide {
    display: block;
    width: 90%;
  }
  .provide .im img {
    width: 100%;
    height: 100%;
  }
  .provideContent p {
    width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  .provideContent p {
    font-size: 0.7rem;
  }
  .provideContent h1 {
    font-size: 1rem;
    letter-spacing: 2px;
  }
}
