.faculty1{
  width: 70%;
  margin: 0 auto ;
  text-align: center;
}


.teacherContainer {
  width: 100%;
  margin: 0 auto;
  font-family: "Montagu Slab";
}
.teacherContainer h1 {
  text-align: left;
  font-size: 3em;
  font-weight: 800;
  letter-spacing: 5px;
  color: rgb(27, 22, 127);
}
.teacherContainer .underline {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
  width: 100%;
}

.teacherData {
  display: flex;
  align-items: center;
  justify-items: center;
  /* background-color: aqua; */
  padding-top: 5%;
  gap: 4.2rem;
  flex-wrap: wrap;
  /* padding: 1%; */
}
.facultyHeading {
  text-align: center;
}
.teacherBackground{
  width: 100%;
  height: 60%;
  object-fit: cover;
}
.teacherBackground img{
  width: 100%;
  height:800px;
  object-fit: cover;
}