.teachersCard {
  width: 100%;
}

.teachersCard h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: rgb(0, 0, 0);
}
.teachersCard p .title {
  font-size: 1rem;
  font-weight: 900;
  color: rgb(95, 93, 93);
}
.teachersCard p {
  font-size: 1rem;
  font-weight: 600;
  color: rgb(171, 135, 53);
}

.teachersCard img {
  height: 19rem;
  width: 14rem;
  object-fit: cover;
}
