
.icon1 {
  font-size: 2rem;
}

.sidebarIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  /* height: 3rem; */
}
.menuBars:active {
  transform: translateY(4px);
}
.menuBars2 {
  font-size: 2rem;
  position: absolute;
  top: 4%;
  right: 4%;
  transform: translateY(4px);
  cursor: pointer;
}
.navmenuItem {
  padding-top: 12rem;
}

.navMenu {
  background-color: var(--blue);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  /* position: absolute; */
  top: 0;
  right: -1000%;
  transition: 0.1s ease-in;
  text-align: center;
  list-style: none;
}

.navMenu.active {
  right: 0;
  transition: 0.1s ease-in;
  overflow: hidden;
  padding-top: 17rem;
}
li {
  list-style: none;
}
.navMenu ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 3% 2%;
  display: inline-flex;
  transition: 0.5s;
  letter-spacing: 5px;
  font-family: "Cinzel", serif;
}
.line5 {
  display: block;
  width: 100%;
  height: 2px;
  border-width: 0;
  background-color: var(--yellow);
}

@media screen and (max-width: 768px) {
  .icon {
    font-size: 1rem;
  }
  .navMenu li a {
    font-size: 1rem;
    padding: 20px 50px;
  }
  .navMenu.active {
    padding-top: 5rem;
  }
}
