@import url("https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,300;16..144,400;16..144,600;16..144,700&family=Open-Sans:wght@300&display=swap");


.icon1 {
  font-size: 2rem;
}

.sidebarIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 3rem;
}

.menuBars2 {
  font-size: 2rem;
  position: absolute;
  top: 4%;
  right: 4%;
}
.navmenu ul {
  position: relative;
}

.navMenu {
  background-color: var(--blue);
  /* background-image: url("/src/assets/Banner.jpg"); */
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  right: 0;
  top: -100%;
  transition: 0.3s ease-in;
  text-align: center;
  list-style: none;
  text-align: center;
}

.navMenu.active {
  top: 0;
  transition: 0.3s ease-in;
  overflow: hidden;
}
li {
  list-style: none;
}
.navMenu li a {
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 30px 20px;
  display: inline-flex;
  transition: 0.5s;
  letter-spacing: 5px;
}
.line5{
  display: block;
  width: 100%;
  height: 2px;
  border-width: 0;
  background-color: var(--yellow);
}
.navMenu:hover li a {
  color: rgb(245, 191, 14);
}
.navMenu li:hover a {
  color: aliceblue;
}
.navMenu ul li a:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  font-weight: 900;
  color: rgba(229, 172, 29, 0.605);
  z-index: -1;
  opacity: 0;
  text-transform: uppercase;
  letter-spacing: 500px;
  transition: letter-spacing 0.7s, left 0.7s;
}
.navMenu ul li a:hover::before {
  content: attr(data-text);
  opacity: 1;
  letter-spacing: 10px;
  width: 1000px;
  height: 10px;
}

@media screen and (max-width: 768px) {
  .icon {
    font-size: 1rem;
  }
  .navMenu li a {
    font-size: 1rem;
  }
}
