.icon1 {
  font-size: 2rem;
}

.sidebarIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.menuBars:active {
  transform: translateY(7px);
}
.menuBars2 {
  font-size: 2rem;
  position: absolute;
  top: 10%;
  right: 5%;
  cursor: pointer;
}
.menuBars2:active {
  transform: translateY(7px);
}
.navMenu {
  background-color: var(--blue);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: -1000%;
  transition: 0.3s ease-in;
  text-align: center;
  list-style: none;
}

.navMenu.active {
  right: 0;
  transition: 0.3s ease-in;
  overflow: hidden;
}

.menuImage {
  width: 100%;
  height: 100%;
  flex: 60%;
}
.menuImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
  overflow: hidden;
  transition: all 1s ease;
}

.menuImage img:hover {
  filter: grayscale(0%);
}

.navMenuItem {
  flex: 40%;
}
li {
  list-style: none;
  text-align: center;
}
.navMenu ul li a {
  text-decoration: none;
  color: white;
  font-size: 3rem;
  font-weight: 700;
  padding: 3% 2%;
  display: inline-flex;
  transition: 0.5s;
  letter-spacing: 5px;
  font-family: "Cinzel", serif;
}


.navMenu ul li a:hover {
  color: var(--yellow);
}
.line5 {
  display: block;
  width: 100%;
  height: 2px;
  border-width: 0;
  background-color: var(--yellow);
}
@media screen and (max-width: 1200px) {
  .navMenu ul li a {
    font-size: 2rem;
    padding: 20px 50px;
  }
}
@media screen and (max-width: 768px) {
  .menuBars2 {
    top: 4%;
    right: 5%;
  }
  .menuImage{
    display: none;
  }
}
