

.icon1 {
  font-size: 2rem;
}

.sidebarIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  /* height: 3rem; */
}
.menuBars:active{
  transform: translateY(4px);
}
.menuBars2 {
  font-size: 2rem;
  position: absolute;
  top: 4%;
  right: 4%;
  transform: translateY(4px);
}
.navmenuItem {
padding-top: 12rem;
}

.navMenu {
  background-color: var(--blue);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  /* right: 0; */
  top: 0;
  right: -100%;
  transition: 0.3s ease-in;
  text-align: center;
  list-style: none;

}

.navMenu.active {
  right: 0;
  transition: 0.3s ease-in;
  overflow: hidden;
  padding-top: 7rem;
}
li {
  list-style: none;
}
.navMenu li a {
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 3% 2%;
  display: inline-flex;
  transition: 0.5s;
  letter-spacing: 5px;
  font-family: "Cinzel", serif;
}
.line5{
  display: block;
  width: 100%;
  height: 2px;
  border-width: 0;
  background-color: var(--yellow);
}
.navMenu:hover li a {
  color: rgb(245, 191, 14);
}
.navMenu li:hover a {
  color: aliceblue;
}
.navMenu ul li a:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  font-weight: 900;
  color: rgba(229, 172, 29, 0.605);
  z-index: -1;
  opacity: 0;
  text-transform: uppercase;
  letter-spacing: 500px;
  transition: letter-spacing 0.7s, left 0.7s;
}
.navMenu ul li a:hover::before {
  content: attr(data-text);
  opacity: 1;
  letter-spacing: 10px;
  width: 1000px;
  height: 10px;
}

@media screen and (max-width: 768px) {
  .icon {
    font-size: 1rem;
  }
  .navMenu li a {
    font-size: 1rem;
    padding: 20px 50px;
  }
  .navMenu.active{
    padding-top: 5rem;
  }
}
