.cardGrid {
  background-color: var(--blue);
  margin-top: -2rem;
  padding-bottom: 3rem;
  font-family: "Cinzel", serif;
}
.cardGrid h1 {
  text-align: center;
  padding: 3rem 0;
  font-size: 3rem;
  color: var(--yellow);
}

.cardCarousel {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.blog-post-teasers {
  padding: 4rem;
}

.blog-post-teaser figure {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 30% 0;
  cursor: pointer;
}

.blog-post-teaser figure::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, #fbe893 0%, #f59457 100%);
  content: "";
}

.blog-post-teaser figure:hover img {
  opacity: 0.25;
}

.blog-post-teaser figure:hover figcaption {
  opacity: 1;
  transform: translateY(0);
}

.blog-post-teaser figcaption {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  transform: translateY(1rem);
  transition: all 0.3s ease-in-out;
}

.blog-post-teaser figcaption h1 {
  font-size: 1.5rem;
  color: var(--blue);
  letter-spacing: 5px;
}

.blog-post-teaser figcaption a {
  text-decoration: none;
  color: var(--blue);
}
.cardLink {
  letter-spacing: 1px;
  font-size: 0.7rem;
  border: 1px solid var(--blue);
  padding: 0.6rem 1rem;
  transition: all 0.4s ease;
}
.cardLink:hover {
  background-color: var(--blue);
  color: white;
  transition: all 0.4s ease;
}

.blog-post-teaser img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  mix-blend-mode: multiply;
  filter: saturate(0);
  transition: all 0.3s ease-in-out;
}

.cardUpdates a {
  text-decoration: none;
  font-size: 0.8rem;
  color: var(--yellow);
}
.cardUpdates a:hover{
  color: white;
}
p {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .cardGrid h1 {
    font-size: 1.5rem;
  }
  .cardCol h2 {
    font-size: 1rem;
  }
  .cardCol p {
    font-size: 0.6rem;
  }
}
@media screen and (max-width: 500px) {
  .cardRow {
    display: block;
  }
}
