.carouselCard {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.item {
  padding-left: 1rem;
  overflow: hidden;
}

.carousel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d6d6d661;
  height: 100%;
  width: 100%;
  padding: 8% 3%;
}

.square {
  background-color: rgba(246, 222, 86, 0.251);
  opacity: 50%;
  height: 85%;
  width: 85%;
  position: absolute;
  left: 15%;
  top: 5%;
  /* z-index: 1; */
}

.littleSquare {
  position: absolute;
  bottom: 23%;
  left: 2.4%;
  background-color: rgba(17, 12, 169, 0.646);
  height: 12%;
  width: 8%;
}

@media screen and (max-width: 1440px) {
  .littleSquare {
    visibility: hidden;
  }
}
@media screen and (max-width: 768px) {
  .littleSquare {
    visibility: hidden;
  }
}
