.cardItem {
  height: 610px;
  width: 500px;
  background: #ffffff;
  /* box-shadow: 2px 11px 31px -2px rgba(0,0,0,0.3),
  0px 15px 12px 0px rgba(0,0,0,0.22); */
}
.cardImg img {
  height: 500px;
  width: 500px;
  object-fit: cover;
}
.cardText h1 {
  color: rgba(88, 87, 126, 0.612);
  text-align: center;
  font-size: 20px;
}
.cardText .btn {
  background-color: #ffffff;
  border: none;
  font-size: 16px;
  font-weight: 500;
  font-family: "Montagu Slab";
  margin: 0 30%;
  padding: 0 8%;
}
 .cardText h4 {
  color: #fbe19f;
  display: flex;
  align-items: center;
  justify-items: center;
 
}
.cardText h4:hover{
  color: #ffcb42; 
}
@media screen and (max-width: 650px) {
  .cardItem{
    height: 560px;
    width: 400px;
  }
  .cardImg img{
    height: 450px;
    width: 400px;
  }
  .cardText .btn{
    padding: 0;
  }
}