.divine-care {
  display: flex;
  align-items: center;
  position: relative;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/divine-public-school-e196f.appspot.com/o/websiteImages%2Fabout%2FBanner.jpg?alt=media&token=1d6d4c62-6feb-449b-9abd-412b0ec34984");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 800px;
}

.rect {
  position: absolute;
  z-index: 1;
  background-color: #1b0853d9;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(5px);
}

.divine-care .lines {
  position: relative;
  text-align: center;
  top: -7rem;
  width: 100%;
  z-index: 1;
}

.divine-care .lines h1 {
  margin: 0 auto;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 600;
  letter-spacing: 5px;
  color: #ffffff;
  font-family: "Playfair Display", serif;
  padding-bottom: 2.5rem;
}
.divine-care .lines h2 {
  color: var(--yellow);
  font-size: 3.5rem;
  font-family: "Vibur", cursive;
}
.divine-care .lines .purpose {
  margin: 0 auto;
  /* width: 100%; */
  text-align: center;
  width: 60%;
  font-size: 1rem;
  line-height: 2;
  font-weight: 400;
  color: rgb(255, 255, 255);
  font-family: "Roboto";
}
@media screen and (max-width: 768px) {
  .divine-care .lines {
    padding: 0 2rem;
    position: relative;
    top: 0;
    bottom: 0;
  }

  .divine-care .lines .purpose {
    width: auto;
  }
}

@media screen and (max-width: 550px) {
  .divine-care{
    height: 550px;
  }
  .divine-care .lines h1 {
    font-size: 2rem;
    padding-bottom:1.5rem;

  }
}
