@import url("https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,300;16..144,400;16..144,600;16..144,700&family=Open-Sans:wght@300&display=swap");

.divine-care {
  display: flex;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
  background-image: url("../../assets/children1jpg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 700px;
}

.rect {
  position: absolute;
  z-index: 1;
  background-color: rgba(255, 190, 37, 0.633);
  height: 100%;
  width: 100%;
  backdrop-filter: blur(5px);
}

.divine-care .lines {
  position: relative;
  top: -5rem;
  margin: 0 auto;
  z-index: 1;
}
.lines h2 {
  font-size: 1rem;
  margin: 0 0.5rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
  font-family: "Montagu Slab", serif;
}
.lines h1 {
  margin: 0;
  font-size: 5rem;
  font-weight: 540;
  letter-spacing: 3px;
  color: #101039ca;
  font-family: "Open Sans";
}
.lines .purpose {
  margin: 1rem 0;
  width: 700px;
  text-align: left;
  font-size: 20px;
  line-height: 1.8;
  font-weight: 400;
  color: rgb(255, 255, 255);
  font-family: "Roboto";
}
@media screen and (max-width: 768px) {
  .lines{
    padding: 0 2rem;
 
    
  }
  .lines h1{
    font-size: 4rem;
   
  }
  .lines .purpose{
    font-size: 16px;
    width: auto;
    
  }
}
@media screen and (max-width: 768px){
.divine-care{
  height: 500px;
}
}
@media screen and (max-width: 550px){
  .divine-care{
    height: 600px;
  }
  }