.divineImg{
    position: relative;
    left: 14%;
    top: -12rem;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    
}
.divineImg img{
    width: 70%;
    height: 70%;
}


@media screen and (max-width: 768px){
    .divineImg {
        position:relative;
        left: 0;
        top: 0;
        width: 100%;
      
    }
    .divineImg img{
        width: 100%;
        height: 100%;
    }
}