/* @import url("https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,300;16..144,400;16..144,600;16..144,700&family=Open-Sans:wght@300&display=swap"); */

.facts {
  height: 100%;
  overflow: hidden;
  position: relative;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/divine-public-school-e196f.appspot.com/o/websiteImages%2Fhome%2FcompressedImages%2Fstudying_11zon_11zon.jpg?alt=media&token=22d309be-e887-46a4-9d1e-6581b417b089");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: fill;
  width: 100%;
  backdrop-filter: blur(10px);
}

.facts:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: rgba(21, 10, 107, 0.392);
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
}
.factOverlay {
  height: 100%;
  margin: 10em auto;
  width: 50%;
}

.factData {
  padding: 3rem 5rem;
  /* height: 50%; */
  background-color: rgb(208, 171, 37);
}
.factData h2 {
  font-size: 2rem;
  letter-spacing: 5px;
  font-family: "Cinzel", serif;
}
.factData h1 {
  font-size: 3rem;
  letter-spacing: 10px;
  color: rgb(29, 22, 101);
  font-family: "Cinzel", serif;
}
.factData p {
  font-size: 1.5rem;
  line-height: 2;
  text-align: left;
}

@media (max-width: 1440px) {
  .factOverlay {
    width: 80%;
    margin: 8em auto;
  }
}
@media (max-width: 768px) {
  .factData p {
    font-size: 1rem;
    line-height: 2;
  }
  .factData h1 {
    font-size: 2rem;
    line-height: 2;
    text-align: center;
  }
  .factData h2 {
    font-size: 1.5rem;
    line-height: 2;
    text-align: center;
  }
  .factData {
    padding: 1rem 2rem;
  }
  .factOverlay {
    width: 90%;
    height: 500px;
  }
}
