@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,300;16..144,400;16..144,600;16..144,700&family=Open-Sans:wght@300&display=swap');


.facts{
    height: 100%;
    background-color: #131251;
    padding: 5% 0 0;
    overflow: hidden;
}
.facts .img-text img{
    width: 70%;
    height: 600px;
    min-height: 70%;
    object-fit: cover;
}

 .facts .img-text {
    position: relative;
    color: rgb(240, 240, 223);
}
.facts .img-text .everything{
    position: absolute;
    top:30%;
    right: 19%;
    z-index: 1; 
}
.facts .img-text .everything {
    color:#FFCB42;
    font-size: 24px;
    font-family: 'Montagu Slab';
}
.facts .img-text .want{
    position: absolute;
    top:27%;
    right: 15%;
    z-index: 1; 
}
.facts .img-text .want  {
    color:#FFCB42;
    font-size: 60px;
    font-family: 'Montagu Slab';
}

.facts .img-text .lines{
    position: absolute;
    bottom:-15%;
    right: 10%;
    width: 450px;
    height: 200px;
    text-align: justify;
    background-color: #131251;
    padding: 40px ;
    font-family: 'Montagu Slab';
    line-height: 1.7;
} 

#content{
  margin: 10rem 0;
  display: flex;
  align-items: center;
  justify-content: space-around;

}
.facts-heading{
    font-size: 48px;
    font-family: 'Montagu Slab';
    color: #fffdf7;
    text-orientation: upright;
    writing-mode: vertical-rl; 
}
.facts-heading{
        border-right: 2px solid #FFCB42;
        height: 300px;
        padding:0 15px;
}
.outer-circle {
    border: 2px solid #FFCB42;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    position: relative;
 
  }
  .inner-circle {
    position: absolute;
    background-color: #19186a;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    top: 50%;
    left: 50%;
    margin: -35px 0px 0px -35px;

  }
  .inside-content{
    position: absolute;
    margin: 25px 0 0 25px;
  }
  .text{
    font-size: 14px;
    font-family: 'Montagu Slab';
   color: white;
  }