.footer {
  display: flex;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-family: "Cinzel", serif;
}
.footerOverlay {
  position: relative;
  width: 100%;
  height: 35em;
}
.footerOverlay .overlayImg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer-container {
  padding: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #1b0853e5;
}
.footer-container .address {
  flex: 40%;
  position: relative;
}
.footer-container .address .addressImg {
  display: block;
  margin: 0 auto;
  width: 10%;
  height: auto;
}
.footer-container .address .addressHead {
  color: white;
  letter-spacing: 5px;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 800px;
}
.footer-container .address .addressText {
  color: white;
  text-align: center;
  font-size: 1rem;
  line-height: 2;
  letter-spacing: 2px;
}
.line {
  border-left: 0.6px solid #8aa1d6;
  height: 19rem;
  position: static;
  padding: 10px;
}
.footerLine {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #333, #ccc, #333);
  width: 100%;
  margin: 0 auto;

}
.footer-container .column {
  flex: 15%;
}
.column h1 {
  line-height: 3;
  font-size: 1rem;
  color: white;
  font-weight: 500;
  margin-left: 10px;
}
.link {
  text-decoration: none;
  letter-spacing: 3px;
}
.link h1:hover {
  color: #ffc524;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  position: absolute;
  bottom: 3%;
  left: 0;
  right: 0;
}
.copyright p{
  font-size: 0.7rem;
  color: #fff;
}


/* responsive======================================= */

@media screen and (max-width: 1900px) {
  .footer-container .address .addressImg {
    width: 15%;
  }
}
@media screen and (max-width: 1024px) {
  .footer-container .address .addressImg {
    width: 20%;
  }
}
@media screen and (max-width: 768px) {
  .footer-container .address .addressImg {
    width: 25%;
  }
  .footer-container .address .addressText {
    font-size: 0.8rem;
    letter-spacing: normal;
  }
  .column h1 {
    font-size: 0.8rem;
    letter-spacing: normal;
  }
  .line {
    visibility: hidden;
  }
  .copyright p{
    font-size: 0.5rem;
  }
  .footer-container .address .addressHead {
    font-size: 1rem;
  }
}
@media screen and (max-width: 500px) {
  .footerOverlay {
    position: relative;
    width: 100%;
    height: 17em;
  }
  .footer-container .address .addressImg {
    width: 30%;
  }
  .footer-container .address .addressHead {
    letter-spacing: normal;
    font-size: 0.7rem;
  }
  .footer-container .address .addressText {
    font-size: 0.5rem;
    letter-spacing: normal;
  }
  .column h1 {
    font-size: 0.5rem;
    letter-spacing: normal;
  }
 
}
