@import url("https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,300;16..144,400;16..144,600;16..144,700&family=Open-Sans:wght@300&display=swap");

#footer {
  height: 100%;
  overflow: hidden;
  position: relative;
  font-family: "Cinzel", serif;
}
.footerOverlay {
  position: relative;
  width: 100%;
  height: 25em;
}
.footerOverlay .overlayImg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer-container {
  padding: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #1b0853e5;
}
.footer-container .address {
  flex: 40%;
  position: relative;
}
.footer-container .address .addressImg {
  display: block;
  margin: 0 auto;
  width: 10%;
  height: auto;
}
.footer-container .address .addressHead {
  color: white;
  letter-spacing: 5px;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 800px;
}
.footer-container .address .addressText {
  color: white;
  text-align: center;
  font-size: 1rem;
  line-height: 2;
  letter-spacing: 2px;
  /* padding-left: 5rem; */
}
.line {
  border-left: 0.6px solid #8aa1d6;
  height: 19rem;
  position: static;
  padding: 10px;
}

.footer-container .column {
  flex: 15%;
}
.column h1 {
  line-height: 3;
  font-size: 1rem;
  color: white;
  font-weight: 500;

  margin-left: 10px;
}
.link {
  text-decoration: none;
  letter-spacing: 3px;
}
.link h1:hover {
  color: #ffc524;
}

.copyright {
  background-color: #8aa1d6;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 0.8rem;
  font-family: initial;
  color: rgb(23, 22, 22);
  flex-wrap: wrap;
}
.footerp {
  font-size: 0.8rem;
}
@media screen and (max-width: 1900px) {
  .footer-container .address .addressImg {
    width: 15%;
    /* height: 30%; */
  }}
  @media screen and (max-width: 1024px) {
    .footer-container .address .addressImg {
      width: 20%;
      /* height: 30%; */
    }}
@media screen and (max-width: 768px) {
  .footer-container .address .addressImg {
    width: 25%;
    /* height: 30%; */
  }
  .footer-container .address .addressText {
    font-size: 0.8rem;
    letter-spacing: normal;
  }
  .column h1 {
    font-size: 0.8rem;
    letter-spacing: normal;
  }
  .line {
    visibility: hidden;
  }
  .copyright {
    padding: 0 2rem 2rem;
  }
  .footer-container .address .addressHead {
    font-size: 1rem;
  }
}
@media screen and (max-width: 500px) {
  .footerOverlay {
    position: relative;
    width: 100%;
    height: 17em;
  }
  .footer-container .address .addressImg {
    width: 30%;
    /* height: 20%; */
  }
  .footer-container .address .addressHead {
    letter-spacing: normal;
    font-size: 0.7rem;
  }
  .footer-container .address .addressText {
    font-size: 0.5rem;
    letter-spacing: normal;
  }
  .column h1 {
    font-size: 0.5rem;
    letter-spacing: normal;
  }
  .footerp {
    font-size: 0.5rem;
  }
  .copyright {
    font-size: 0.5rem;
    /* padding-bottom: -5px; */
  }
}
