html,
body {
  margin: 0;
}

.header {
  position: relative;
  width: 100%;
  height: 900px;
  margin: 0 auto;
  font-family: "Cinzel", serif;
}

.header h1 {
  color: var(--blue);
  position: absolute;
  top: 50%;
  left: 35%;
  text-align: center;
  z-index: 2;
  animation: 5s anim-lineUp ease-out;
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.header h1 {
  font-size: 2rem;
}
.header span {
  font-size: 8rem;
  letter-spacing: 1rem;
}
.header .slide{
  backdrop-filter: blur(5px);
}

@media screen and (max-width: 1440px) {
  
  .header h1 {
    left: 30%;
  }
}
@media screen and (max-width: 1024px) {

  .header h1 {
    font-size: 1.5rem;
  }
  .header span {
    font-size: 5rem;
  }
}
@media screen and (max-width: 768px) {
  .header {
    height: 500px;
  }

  .header span {
    font-size: 3rem;
  }

  .header2 .slider {
    padding: 0rem 1rem;
    width: 100%;
    height: 700px;
    flex: 100%;
  }
}
@media screen and (max-width: 500px) {
  
  .header span {
    font-size: 3rem;
    letter-spacing: 0.5rem;
  }
  .header h1 {
    font-size: 1rem;
  }
}
@media screen and (max-width: 425px) {
 
  .header h1 {
    left: 20%;
  }
}
