

.navbar {
  background-color: transparent;
  position: fixed;
  top: 0;
  padding-top: 1rem;
  width: 100%;
  z-index: 3;
}
.homeNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 5%;
  height: 12rem;
  position: relative;
}

.scrolled {
  opacity: 0;
  transition: 0.2s ease-in-out;
}
.navigation1 {
  position: absolute;
  right: 0;
}
.navLogo img {
  width: 40%;
  opacity: 1;
  transition: 0.2s ease-in-out;
}
@media screen and (max-width: 768px){
  .homeNav {
    height: 7rem;
  }
  .navLogo img{
    width: 30%;
  }
}