.navbar {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}
.homeNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1% 5% 0;
  height: 12rem;
  position: relative;
}

.scrolled {
  opacity: 0;
  transition: 0.2s ease-in-out;
}
.navigation{
  background-color: rgb(30, 25, 107);
  padding: .8rem;
  border-radius: 50%;
}
.navigation:hover{
  background-color: white;
}
.navigation1 {
  position: absolute;
  right: 5%;
}
.navLogo img {
  width: 40%;
  opacity: 1;
  transition: 0.2s ease-in-out;
}
@media screen and (max-width: 768px) {
  .homeNav {
    height: 7rem;
    padding-top: 3%;
  }
  .navLogo img {
    width: 30%;
  }
}
