@import url("https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,300;16..144,400;16..144,600;16..144,700&family=Open-Sans:wght@300&display=swap");

.navbar {
  background-color: transparent;
  transition: background-color 0.5s ease-in-out;
  z-index: 3;
}

.navbar-scrolled {
  background-color: var(--blue);
}
.homeNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 5%;
  height: 8rem;
}
img {
  width: 90%;
}
@media screen and (max-width: 768px) {
  img {
    width: 50%;
  }
  .homeNav{
    height: 5rem;
  }
}

