@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300;1,400&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;1,300;1,400&family=Oswald:wght@200;300;400&family=Poppins:ital,wght@0,200;0,300;1,400;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,300;16..144,400;16..144,600;16..144,700&display=swap");

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  background: #131251;
  height: 150px;
  position: relative;
  top:-1rem;
  box-shadow: -5px 24px 13px -93px rgba(0,0,0,0.3),
  0px 15px 12px 0px rgba(0,0,0,0.22);
}
ul li {
  color: white;
  font-size: 15px;
  text-transform: uppercase;

  font-family: "Montagu Slab", serif;
}
ul li:hover {
  color: rgb(211, 178, 59);
}
