@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300;1,400&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;1,300;1,400&family=Oswald:wght@200;300;400&family=Poppins:ital,wght@0,200;0,300;1,400;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,300;16..144,400;16..144,600;16..144,700&display=swap");

.testimonial {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: #d6d6d661;
  height: 700px;
  width: 100%;
  position: relative;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/divine-public-school-e196f.appspot.com/o/websiteImages%2Fhome%2FEllipse%204.png?alt=media&token=0a3e430d-584f-4c4c-a253-53217122683f");
  background-position: left;
  background-repeat: no-repeat;
  overflow: hidden;
}

.parentsImg {
  width: 20%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  object-fit: cover;
  top: 5%;
  z-index: 1;
  right: 1%;
  box-shadow: 9px -16px 0px 0px rgba(235, 203, 42, 0.178),
    0px 15px 12px 0px rgba(0, 0, 0, 0.16);
}

.testimonialRow {
  position: absolute;
  width: 75%;
  /* text-align: center; */
}

.voices h3 {
  color: rgb(0, 0, 0);
  font-size: 1.4rem;
  font-weight: 500;
  font-family: "Montagu Slab", serif;
}
.voices h1 {
  color: var(--blue);
  font-size: 3rem;
  font-family: "Montagu Slab", serif;
  font-weight: 600;
}
.voices p {
  color: black;
  font-size: 1rem;
  font-family: "Montagu Slab", serif;
  width: 60%;
  line-height: 2;
}

.parents-name .line {
  margin-left: 20px;
  height: 10px;
  border-left: 2px solid var(--yellow);
}
.parents-name p {
  color: rgb(198, 51, 41);
}
.arrow {
  color: var(--blue);
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  position: absolute;
}

.current {
  opacity: 1;
  transform: translateX(0);
}
@media screen and (max-width: 1800px) {

  .parentsImg {
    width: 25%;
  
  }
}
@media screen and (max-width: 1440px) {
  .testimonial .row {
    width: 900px;
  }
  .parentsImg {
    width: 30%;
    height: 90%;
  }
}
@media screen and (max-width: 1024px) {
  .testimonial .row {
    width: 650px;
  }
  .parentsImg {
    width: 30%;
    height: 70%;
  }
  .voices h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 768px) {
  .testimonial {
    height: 700px;
    overflow: hidden;
  }
  .testimonial .testimonialRow {
    width: 900px;
  }
  .voices p {
    font-size: 14px;
  }
  .parentsImg {
    position: absolute;
    top: -7rem;
    right: 9rem;
    width: 25%;
    height: 80%;
  }
  .voices {
    position: relative;
    top: 5rem;
    left: 10rem;
  }
}
@media screen and (max-width: 600px) {
  .testimonial {
    height: 800px;
   
  }
  .voices .descr p {
    font-size: 12px;
    width: 40%;
  }
  .voices h1 {
    font-size: 30px;
  }
  .voices h3 {
    font-size: 16px;
  }
  .voices {
    position: relative;
    top: 8rem;
    left: 17rem;
  }
  .parentsImg {
    position: absolute;
    top: -14rem;
    right: 20rem;
    width: 25%;
    height: 100%;
  }
  .arrow {
    height: 2rem;
    width: 1.4rem;
  }
}
