.testimonialContainer{
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}
.testimonialItem{
    height: 20rem;
    min-width: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: 1s cubic-bezir(0.39, 0.575, 0.565, 1);
}