.testimonialContainer {
  background-color: var(--blue);
  width: 100%;
  position: relative;
  height: 400px;
  padding: 10% 0;
  margin: 0;
  overflow: hidden;
}

.testimonial {
  width: 60%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.testimonialRow {
  display: flex;
  align-items: center;
  justify-content: center;
}
.testimonialImage {
  flex: 30%;
  text-align: center;
}
/* testimonial parents image width: 1600 and height:2100======== */
.testimonialImage img {
  width: 50%;
  height: 10%;
  object-fit: cover;
  border-radius: 50%;
}
.voices {
  flex: 70%;
}

.voices h3 {
  color: rgb(255, 255, 255);
  font-size: 1.4rem;
  font-weight: 500;
  font-family: "Cinzel", serif;
}
.voices h1 {
  color: rgb(238, 215, 151);
  font-size: 3rem;
  font-family: "Cinzel", serif;
  font-weight: 600;
}
.voices p {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-family: "Montagu Slab", serif;
  line-height: 2;
  text-align: left;
}

.parents-name .testimonialLine {
  margin: 0 20px;
  height: 1rem;
  border-left: 2px solid var(--yellow);
}
.parents-name p {
  color: rgb(236, 143, 136);
  font-family: "Cinzel", serif;
}
.arrow {
  color: var(--blue);
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  position: absolute;
}

.current {
  opacity: 1;
  transform: translateX(0);
}
.testimonialArrow {
  color: #777;
  position: absolute;

  height: 3rem;
  width: 2.5rem;
}
.testimonialArrow:hover {
  color: var(--yellow);
}
.next {
  top: 40%;
  right: 10%;
}
.prev {
  top: 40%;
  left: 10%;
}

@media screen and (max-width: 1024px) {
  .testimonialContainer {
    height: 700px;
  }
  .testimonialRow {
    flex-wrap: wrap;
    gap: 5rem;
  }
  .testimonialImage img {
    width: 40%;
    height: 20%;
  }
  .next {
    top: 50%;
    right: 10%;
  }
  .prev {
    top: 50%;
    left: 10%;
  }
}

@media screen and (max-width: 768px) {
  .testimonialContainer {
    height: 600px;
  }
  .testimonial {
    width: 80%;
  }

  .voices h1 {
    font-size: 2rem;
  }
  .voices h3 {
    font-size: 1rem;
  }
  .voices p {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 500px) {
}
