.visitCard {
  width: 90%;
  margin: 0 auto;
  height: 100%;
  padding: 4rem 1rem;
}
.visitRow {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.visitCol {
  position: relative;
  width: 100%;
  height: 25em;
}
.visitCol img {
  position: absolute;
  width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0px 19px 38px 0px rgba(0, 0, 0, 0.3),
    0px 15px 12px 0px rgba(0, 0, 0, 0.22);
}

.visitOverlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #1b0853b9;
}
.visitCol h1 {
  align-items: center;
  position: absolute;
  left: 5rem;
  bottom: 3rem;
  color: white;
  font-size: 2rem;
  font-family: "Cinzel", serif;
  font-weight: 500;
}

.visitCol .visitLine {
  position: absolute;
  bottom: 7rem;
  display: flex;
  height: 0.6px;
  border: 0;
  background-color: rgb(255, 178, 10);
  width: 80%;
  left: 4rem;
}

.visitBtn {
  position: absolute;
  left: 5rem;
  bottom: 1rem;
  width: 7rem;
  height: 2.5rem;
  border: 1.5px solid rgb(255, 255, 255);
  background-color: transparent;
  padding: 1%;
}
.visitBtn .visitLink {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-family: "Cinzel", serif;
  text-transform: uppercase;
}
.visitBtn:hover {
  background-color: var(--blue);
  border: none;
}
.visitBtn .visitLink:hover {
  color: white;
}

@media screen and (max-width: 1440px) {
  .visitCol .visitLine {
    width: 70%;
  }
  .visitCol {
    max-width: 50%;
  }
}
@media screen and (max-width: 1024px) {
  .visitCol h1 {
    font-size: 1rem;
  }
  .visitBtn {
    height: 2rem;
  }
  .visitBtn .visitLink {
    font-size: 0.7rem;
  }
  .visitCol .visitLine {
    width: 100%;
    left: 0;
    bottom: 5rem;
  }
}

@media screen and (max-width: 768px) {
  .visitCard{
    display: none;
  }
  /* .visitRow {
    flex-wrap: wrap;
  }


  .visitCol{
    height: 15rem;
    
  } */

}
/* @media screen and (max-width: 550px) {
  .visitCol h1 {
    font-size: .8rem;
    left: 3rem;
    
  }
  .visitBtn {
    left: 3rem;
    width: 5rem;
    height: 2rem;
    padding: 0;
  }
  .visitBtn .visitLink {
    font-size: 0.5rem;
  }

} */