

.map-contact{
    display: flex;
    height: 1000px;
 }

 .address{
    flex: 50%;
 }
 .map{
    background-color: rgb(218, 216, 219);
    flex: 50%;
 
   
 }
 .rectangle {
   height: 200px;
   width: 400px;
   border: 2px solid #083AA9;
   margin: 10% 25%;
   box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

 }