/* @import url("https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,300;16..144,400;16..144,600;16..144,700&family=Open-Sans:wght@300&display=swap"); */

.contactHeading {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  padding: 5% 0;
  letter-spacing: 2px;
  font-family: "Cinzel", serif;
}
.contactHeading h1 {
  color: var(--blue);
  font-size: 2rem;
  font-weight: 600;
}
.contactHeading h2 {
  color: var(--blue);
  font-size: 1.5rem;
  font-weight: 400;
}
.contactHeading h3 {
  font-size: 1.2rem;
}
.contactHeading p {
  font-size: 1rem;
}

@media screen and (max-width: 768px) {

  .contactHeading h1 {
    font-size: 1.5rem;
  }
  .contactHeading h2 {
    font-size: 0.8rem;
  }
  .contactHeading p {
    font-size: .6rem;
  }
}
