@import url("https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,300;16..144,400;16..144,600;16..144,700&family=Open-Sans:wght@300&display=swap");


.contactHeading{
   /* color: #083aa9; */
   /* font-size: 22px;
   font-family: "Montagu Slab";
   font-weight: 600; */
  margin: auto;
  width: 100%;
  text-align: center;
padding: 5% 0;
letter-spacing: 2px;
background-color: rgba(148, 148, 187, 0.081);
}
.contactHeading h1{
   font-size: 30px;
   font-family: "Roboto";
   font-weight: 600;
}
.contactHeading h2{
  font-size: 20px;
  font-family: "Roboto";
  font-weight: 400;
}


.map {
  
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
/* .rectangle {
  height: 200px;
  width: 400px;
  border: 2px solid #083aa9;
  margin: 10% 25%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  position: relative;
}
.rectangle .text {
  color: #083aa9;
  max-height: 50px;
  max-width: 200px;
  background-color: #ffffff;
  position: absolute;
  top: -25px;
  left: -19px;
  text-align: center;
  font-size: 22px;
  font-family: "Montagu Slab";
  font-weight: 600;
  padding: 20px;
} */
