.activityGallery h1 {
  font-size: 3rem;
  text-align: center;
  color: rgba(30, 11, 96, 0.673);
  letter-spacing: 10px;
}
.line1 {
  width: 100%;
}


.gridContainer {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-gap: 2rem;
  /* width: 40%; */
  margin: 0 auto;
  padding: 12rem 0;
}

.gridContainer img {
  width: 600px;
  height: 40%;
  object-fit: cover;
}

.column2 img,
.column3 img {
  width: 600px;
  height: 500px;

  /* margin-bottom: 10px; */
}

.gridContainer a {
  text-decoration: none;
  color: rgba(58, 50, 130, 0.908);
  letter-spacing: 10px;
}
@media only screen and (max-width: 1900px){
  .gridContainer {
    grid-template-columns: 2fr 2fr ;
    text-align: center;
  }
   
}
@media only screen and (max-width: 1300px){
  .gridContainer {
    grid-template-columns: 2fr 2fr ;
    text-align: center;
  }
  .gridContainer img {
    width: 300px;
    height: 30%;
    object-fit: cover;
  }
}
@media only screen and (max-width: 700px){
  .gridContainer {
    grid-template-columns: 2fr  ;
    text-align: center;
    grid-gap: 2rem;
  }
  .gridContainer img {
    width: 300px;
    height: 30%;
    object-fit: cover;
  }
}