.gallery {
  background-color: white;
  font-family: "Montagu Slab";
  width: 70%;
  margin: auto;
  
}
.gallery h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem ;
  color: rgb(21, 24, 124);
  font-size: 48px;
  font-weight: 700;
}
.row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery .col {
  flex: 25%;
  margin: 20px;
  position: relative;
  cursor: pointer;
  width: 220px;
  height: 200px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.column-heading h2 {
  position: absolute;
  top: 5rem;
  left: 5.5rem;
  font-size: 16px;
  font-family: "Montagu Slab";
  font-weight: 500;
  color: #ffcb42;
  box-shadow: 8px 8px 13px -8px rgba(0,0,0,0.3),
  0px 15px 12px 0px rgba(0,0,0,0.22);
}

 .image{
  width: 100%;
  height: 100%;
  object-fit:cover ;
  border-radius: 15px;
 }
 .overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: -100%;
  background-color: #ffc94225;
  backdrop-filter: blur(5px);
  border-radius: 15px;
  transition: 0.5s ease;
 }
 .col:hover .overlay{
  right: 0;
 }

 /* .overlay .btn{
   position: relative;
   top: 45%;
   left: 30%;
   width: 100px;
   height: 30px;
   border-radius: 12px;
   border:2px solid #ffcb42;
   background-color: #ffcb42;
   font-size: 12px;
   font-weight: 500;
   font-family: "Montagu Slab";
 }
 .overlay .btn:hover{
  background-color: #1a0c67;
border: none;
 }
 .btn a {
  text-decoration: none;
  color: #1b073a;
  
 }
 .btn a:hover{
  color: #ffcb42;
 } */
 .btn {
  position: relative;
  top: 40%;
  left: 25%;
  width: 150px;
  height: 50px;
  border: 1px solid #333;
  font-family: 'Cinzel', serif;
  font-size: 20px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  transition: 1s;
  background-color: #ffcb42;
}

.btn::before, .btn::after {
  position: absolute;
  background: rgba(13, 10, 85, 0);
  z-index: -1;
  transition: 1s;
  content: '';
}

.btn::before {
  height: 50px;
  width: 130px;
}

.btn::after {
  width: 150px;
  height: 30px;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.btn:hover::before {
  width: 0px;
  background: #15125d;
}

.btn:hover::after {
  height: 0px;
  background: #15125d;
}

.btn:hover {
  background: #15125d;
}
.btn a {
  text-decoration: none;
  color: #1b073a;
  
 }
 .btn a:hover{
  color: #ffcb42;
 } 