.images h1{
  text-align: center;
  margin: 0 auto;
  padding: 4rem 0;
  font-weight: 700;
  font-size: 4rem;
  color: #222270;
  font-family: "Cinzel", serif;
  letter-spacing: 5px;
}
.underline {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
  width: 100%;
  margin: 0 auto;
}
.imageGallery {
  width: 80%;
  margin: auto;
  padding: 6rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(autofill, 100vw);
  gap: 1.5rem;
  transition: all 1s ease;
}
.images {
  background-color: #eeebe3;
}
.pics {
  margin: 0;
  padding: 0;
  height: 500px;
}
.imageGallery img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 5px;
}
.imageBanner {
  height: 700px;
  width: 100%;
  background-color: #c3c1bd;
}
.imageBanner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media only screen and (max-width: 900px) {
  .imageGallery {
    grid-template-columns: repeat(2, 1fr);
  }
  .images h1{
    font-size: 3rem;
  }
}
@media only screen and (max-width: 600px) {
  .imageGallery {
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
  }
  .images h1{
    font-size: 1.5rem;
  }
}
