
.galleryHeading{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  
  font-size: 48px;
  color: #222270;
  font-family: "Montagu Slab";
}

.imageGallery{
  padding:2rem  ;
	width: 90%;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
  transition: all 1s ease;
  background-color: rgb(114, 147, 136);
}

.imageGallery img{
  width: 100%;
  height:100%;
  object-fit: cover;
  border-radius: 5px;
}