.menu-container{
  background: #ffffff;
   margin-top: 10px;
   position: sticky;
   top: 0;
   z-index: 3;
   background-color: rgb(255, 255, 255);
   box-shadow: 12px 0 15px -4px rgba(31, 73, 125, 0.8),
   -12px 0 8px -4px rgba(31, 73, 125, 0.8);
 box-shadow: 0 9px 0px 0px white, 0 -9px 0px 0px white,
   12px 0 15px -4px rgba(31, 73, 125, 0.8),
   -12px 0 15px -4px rgba(31, 73, 125, 0.8);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
img{
  margin-right: 10% ;
}
.dropdown{
display: flex;
align-items: center;
color: rgb(135, 132, 132);

}
.dropdown h1{
  color: #1c38b7;
  padding:5px 20px;
}
.underline{
  display: inline-block;
  position: relative;
  color: #d6d638;
}
.underline::after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #d2d743;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  cursor: pointer;
}
.underline:hover::after{
  transform: scaleX(1);
  transform-origin: bottom left;
  cursor: pointer;
}
.icon{
  padding: 10px;
}
.icon:hover{
 cursor:pointer;
 color: #d2d743;
 
}
 

 




