
*{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

  html,
  body{
    scroll-behavior: smooth;
  background-color: rgb(73, 67, 67);
    margin: 0;padding: 0;box-sizing: border-box;
  }
/* @media only screen and (max-width:1440px){
  html,
  body{
    width:100%;
    height: 100%;
    overflow-x:hidden;
   margin: 0;padding: 0;
  }
} */
