.slider {
  position: relative;
  overflow: hidden;
  height: 900px;
  width: 100%;
}
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  filter:  blur(5px);
}
@media screen and (max-width: 1400px) {
  .slide img {
    height: 900px;
  }
}
@media screen and (max-width: 768px) {
  .slide img {
    height: 500px;
  }
}
